[Desktop Entry]
Name=NumbatUI
GenericName=NumbatUI
X-GNOME-FullName=NumbatUI
Comment=Source Code & Graph Explorer
Exec=/usr/bin/numbatui
Icon=numbatui
Terminal=false
Type=Application
MimeType=application/x-numbatui;
Categories=Development;
StartupNotify=true
StartupWMClass=NumbatUI
